@media(max-width: 992px) {
   #product-asp .container{
        max-width: 90%;
    }
}
.product-asp-main{
    margin: 7rem 0px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 27px -10px #000;
    padding: 4rem 5rem;
}

.product-asp-list h2{
    font-size: 30px;
    color: #292929;
}

.product-asp-heading li::marker{
    color: #6257C7;
   font-size: 45px;
}

.product-asp-list p{
    font-size: 20px;
    color: #565555;
    margin-bottom: 0px;
}
.product-asp-list span{
    font-size: 20px;
    color: #727272;
    top: -10px;
}
.usp-btn{
    text-align: end;
}
.product-asp-btn,
.product-asp-btn-main{
    color: #626262;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 50px;
    font-weight: 500;
}
.product-asp-btn-main{
    background-color: #7755D6;
    color: #fff;
    border: none;
}

@media (max-width: 768px) {
    .usp-btn{
        text-align: center;
        margin-bottom: 5px;
    }
}

@media (max-width: 690px) {
    .product-asp-main{
        margin: 5rem 0px;
        padding: 2rem;
    }
}

@media (max-width: 375px){
    .product-asp-main{
        border: 0px solid #fff;
        box-shadow: 0px 0px;
        padding: 0rem;
    }
    .product-asp-list h2{
        font-size: 25px;
    }
    .product-asp-heading li::marker{
       font-size: 40px;
    }
    .product-asp-list p{
        font-size: 15px;
    }
    .product-asp-list span{
        font-size: 15px;
    }
    .product-asp-btn{
        padding: 5px 50px;
        font-weight: 500;  
    }
}