.franchisor-main .franchisor-heading h1{
	color: #292929;
	font-weight: 700;
	font-size: 60px;
	margin-top: 5rem;
}
@media(max-width:768px){
	.franchisor-main .franchisor-heading h1{
		font-weight: 600;
		font-size: 40px;
	}
}
@media(max-width:590px){
	.franchisor-main .category-bg{
		margin-top: 2rem;
	}
}
.franchisor-slide img{
	border-radius: 100%;
	width: 180px;
}
.franchisor-slide p{
	width: 100%;
	padding: 10px 20px;
	font-size: 18px;
	line-height: 25px;
	color: #808080;
}
.franchisor-main .swiper-slide {
    text-align: center;
    box-shadow: 0 0 50px -31px #000;
    display: flex;
    height: 450px;
    align-items: center;
    margin: 40px 0px;
}
@media(max-width:425px){
		.franchisor-slide p{
			line-height: 20px;
	}
		.franchisor-slide h2{
		margin-top: 2.5rem !important;
	}
}
@media(max-width:375px){
	.franchisor-main .franchisor-heading h1{
		font-weight: 600;
		font-size: 30px;
		margin-top: 2rem;
	}
}