.rating-detail{
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
}

.rating-contain .container{
    max-width: 95%;
}
.rating-detail h3{
    font-weight: 700;
    color: #292929;
}
.rating-icon-main{
  color: #F1C644;
 }
.rating-icon span{
    color: #5A4D4D;
    font-weight: 500;
    font-size: 20px;
}

.rating-txt p,
.rating-txt span{
    margin: 0px;
    color: #5A4D4D;
    font-weight: 500;
    font-size: 20px;
}

.rating-faq-wrapp p{
    color: #5A4D4D;
    margin: 0px;
    font-size: 25px;
    font-weight: 400;
}
.rating-faq-wrapp i{
    font-size: 30px;
    margin-right: 20px;
}

.rating-faq hr{
    opacity: 1 !important;
    margin: 0px !important;
    width: 95%;
    left: 0px;
    position: absolute;
}
@media (max-width: 426px){
    .rating-detail{
        box-shadow: 0px 0px 0px 0px;
        padding: 10px;
    }
    .rating-txt img{
        width: 100px;
    }
    .rating-txt p,
    .rating-txt span{
        font-size: 17px;
    }
    .rating-contain .container{
        max-width: 100%;
    }
    .rating-faq-wrapp i{
        margin-right: 0px;
    }
}

@media (max-width: 375px){
    .rating-faq-wrapp p{
        color: #5A4D4D;
        margin: 0px;
        font-size: 20px;
        font-weight: 400;
    }
    .rating-faq-wrapp i{
        font-size: 25px;
        margin-left: 10px;
    }
    hr{
        width: 100%;
        right: 0px;
        left: 0px;
    }
}