.hero-main{
	background: url('C:\Users\Darshan\Desktop\REACT\franchisewala\public\frenchiseist-img\hero-main-bg.png') #7F30FF;
	background-size: cover;
	margin-top: -76px;
}
.hero-wrapp{
	height: 100vh;
	padding-top: 100px;
}
.hero-box {
	background-color: #fff;
	padding: 0px 30px;
	width: 500px;
	height: 330px;
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hero-box-txt span{
	font-weight: 500;
	font-family: inter;
	font-size: 20px;
	line-height: 30px;
}
.hero-box-txt a{
	font-weight: 500;
	font-family: inter;
	text-decoration: none;
	color: #0085FF;
	font-size: 20px;
}
.hero-box-hr-1{
	width: 90%;
	margin: 0rem !important;
	color: #000;
	opacity: 1 !important;
}
.hero-box-hr-2{
	width: 70%;
	margin: 10px 0px 0px 0px!important;
	color: #000;
	opacity: 1 !important;
}
.hero-box-txt a:hover{
	border-bottom: 2px solid #0085FF;
}
.hero-main-content{
	height: 100%;
}
.hero-img img{
	width: 100%;
}

.box-intro p{
	color: #7B7B7B;
	font-size: 20px;
	font-weight: 500;
	font-family: inter;
}
.box-intro-btn button{
	background-color: #fff;
	border: 1px solid #9C9C9C;
	width: 100%;
	font-family: inter;
	font-weight: 500;
	height: 45px;
	border-radius: 10px;
}
.box-btn-main button{
	background-color: #536FFF;
	border: 0px;
	color: #fff;
	font-weight: 500;
	font-family: inter;
}
@media(max-width:992px){
	.hero-main .container{
		max-width: 90%;
	}
}
@media(max-width:768px){
	.hero-main .container{
		max-width: 100%;
	}
	.hero-box{
		height: 250px;
	}
}
@media(max-width:675px){
	.hero-main-content .hero-img-main{
		display: none;
	}
}	
@media(max-width:425px){
	.hero-main-content{
		height: 65%;
	}
	.hero-wrapp{
		height: 65vh;
	}
}
@media(max-width:320px){
	.hero-box{
		padding: 0px 15px;
	}
}