.subscribe-heading h1 {
    font-size: 60px;
    font-weight: 700;
    margin-top: 5rem;
    color: #292929;
}

.subscribe-checklist {
    color: #7755D6;
    font-size: 25px;
    line-height: 50px;
    font-weight: 500;
    list-style-type: none;
    padding: 0;

    li {
        padding: 0 0 0 50px;
        position: relative;
        margin-bottom: 5px;

        &:before {
            position: absolute;
            color: #7755D6;
            left: 5px;
            content: "\2713";
        }
    }
}

@media(max-width:426px) {
    .subscribe-heading h1 {
        font-size: 40px;
        margin-top: 2rem;
    }
}

@media(max-width:400px) {
    .subscribe-heading h1 {
        font-size: 30px;
    }

    .subscribe-checklist {
        color: #7755D6;
        font-size: 20px;
        line-height: 50px;
        font-weight: 500;
        list-style-type: none;
        padding: 0;

        li {
            padding: 0 0 0 30px;
            font-size: 20px;
        }
    }
}