.left-sidebar .container{
	max-width: 100% !important;
}
.left-sidebar {
    position: fixed;
    width: 500px;
    height: 100%;
    top: 0;
    left: -500px;
    background-color: #FFF;
    transition: 0.3s;
}
.sidebar-brand-name h1{
	line-height: 57px;
	font-family: 'Baloo 2';
	color: #FFD600;
	font-weight: 700;
}
.sidebar-brand-icon{
	width: 34px;
}
.sidebar-brand-icon img{
	width: 40px;
}
.left-sidebar a{
    padding: 8px 8px 8px 10px;
	text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
	color: #000;
}
.left-sidebar-wrapp{
	background-color: #7F30FF;
	height: 25%;
	padding-left: 45px;
	display: flex;
	align-items: center;
	border-radius: 0px 0px 50px 0px;
}
.left-sidebar .close-btn {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 24px;
	cursor: pointer;
	background: none;
	border: none;
	color: white;
	align-items: center !important;
	width: 95%;
}
.slider-btn-home a{
	color: #fff;
	font-size: 25px;
	padding-top: 5px;
	text-decoration: none;
}
.slider-btn-home a:hover{
	border-bottom: 2px solid #fff;
	transition: 0.5s;
}
.slider-bi-person a{
	color: #fff;
	font-size: 30px;
}
.left-sidebar-name span{
	font-family: inter;
	font-weight: 600;
	font-size: 21px;
	line-height: 50px;
}
.left-sidebar-name{
	box-shadow: 0px 10px 4px 0px rgba(219, 219, 219, 1);
	width: 100%;
	padding: 5px 35px;
	background-color: #fff;
}
.left-sidebar-items{
	overflow: auto;
    max-height: 65vh;
}
.left-sidebar-items-name{
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
	width: 100%;
	padding: 5px 40px;
	background-color: #fff;
}
#leftSidebar{
	z-index: 999999;
}
.left-sidebar-items-name a{
	font-weight: 500;
	font-size: 22px;
	line-height: 40px;	
}
.left-sidebar-visit-main{
	border: 1px solid #AFAEAE;
	border-radius: 10px;
	height: 60px;
	margin: 10px 10px;
}
.left-sidebar-visit-wrapp span,
.left-sidebar-translate-wrapp span{
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #8B44FF;
	padding-left: 20px;
}
.left-sidebar-visit-wrapp i{
	font-size: 20px;
	padding-left: 15px;
}
.left-sidebar-visit-btn i{
	color: #000;
	font-size: 20px;
}
.left-sidebar-translate-wrapp img{
	width: 45px;
	padding-left: 15px;
}
.left-sidebar-app-info{
	margin: 10px;
	background-color: #F4F4F4;
	border-radius: 10px;
	padding: 20px;
}
.left-sidebar-app-info-txt p{
	padding: 0px 10px;
	font-weight: 500;
	font-size: 23px;
	line-height: 30px;
}
.left-sidebar-app-img img{
	width: 130px;
}
.left-sidebar-social {
	color: #898989;
	margin: 15px;
}
.left-sidebar-social-main{
	width: 100%;
}
.left-sidebar-social-main span{
	font-size: 26px;
	font-weight: 500;
	line-height: 30px;
	padding-left: 25px;
}
.left-sidebar-social-icon i{
	width: 50px;
	font-size: 25px;
}
@media(max-width:1024px){
	.left-sidebar-wrapp {
		height: 20%;
	}
}
@media(max-width:768px){
	.left-sidebar{
		width: 400px;
	}
	.left-sidebar-app-info-txt p{
		font-size: 18px;
		width: 100%;
	}
	.left-sidebar-app-img img{
		width: 100px;
	}
}
@media(max-width:425px){
	.left-sidebar{
		width: 100%;
	}
}
