.trust-main{
	line-height: 40px;
}
.trust-main h1{
	height: 57px;
	font-size: 50px;
	font-weight: 700;
}
.trust-main li{
	font-weight: 500;
	font-size: 20px;
}
@media(max-width:700px){
	.trust-main h1{
		height: 50px;
		font-size: 40px;
	}
	.trust-main li{
		font-size: 17px;
	}
}
@media(max-width:663px){
	.trust-main h1{
		height: 30px;
		font-size: 30px;
	}
	.trust-main li{
		font-size: 15px;
		line-height: 30px;
	}
	.trust-main{
		margin: 0 auto;
	}
}
@media(max-width:426px){
	.trust-main h1{
		height: 0px;
		font-size: 25px;
	}	
}
@media(max-width:362px){
	.trust-main h1{
		font-size: 21px;
	}
	.trust-sec-list{
		margin-top: 30px !important;
	}
}