.deals-sec-hedding{
	font-size: 48px;
	line-height: 57px;
	font-weight: 700;
}
.exclusive-slide img{
	width: 10%;
	height: 20%;
}
.exclusive-swiper .swiper {
    width: 100%;
    height: 100%;
    margin: 5rem 0rem;
}
.exclusive-swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exclusive-swiper .swiper-slide{
	margin-left: 30px;
}
.exclusive-slider-txt{
	flex-direction: column;
    align-items: center;
}
.exclusive-slider-txt img{
	width: 199px;
	height: 111px;
}
.exclusive-slider-txt h4{
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	align-items: center;
}
.exclusive-slider-txt p{
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	width: 76%;
	color: #7E7E7E;
}
@media(max-width:426px){
	.exclusive-swiper .swiper{
		margin-top: 0px !important;
	}
	.deals-sec-hedding{
		font-size: 35px;
	}
}