.lern-sec{
    background-image: url(/public/Lern-more-dailog/sec-bg.jpg);
    padding: 6rem 0px;
    background-size: cover;
}
.lern-sec-main{
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}
.lern-heading h1{
    font-weight: 700;
    font-size: 37px;
    border-bottom: 1px solid;
}
.lern-heading p{
    color: #686868;
    font-weight: 700;
    font-size: 30px;
}
.lern-list ol{
    padding-left: 1rem !important;
}
.lern-list li::marker{
    color: #292929;
    font-size: 30px;
    font-weight: 400;
}
.lern-list{
    line-height: 85px;
}
.lern-list li{
    font-size: 30px;
    font-weight: 500;
    color: #737373;
}
.lern-btn{
    background-color: #7F30FF;
    color: #fff;
    border-radius: 15px;
    height: 55px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    width: 310px;
    text-align: center;
}
@media (max-width: 426px) {
    .lern-sec{
        padding: 4rem 0px;
    }
    .lern-sec-main{
        box-shadow: 0px 0px 0px 0px;
        padding: 10px !important;
        background-color: transparent;
    } 
    .lern-list{
        line-height: 65px;
    }   
}

@media (max-width: 376px){
    .lern-list{
        line-height: 55px;
    }   
    .lern-list li::marker{
        font-size: 25px;
    }
    .lern-list li{
        font-size: 25px;
    }
}