.footer-brand-icon{
	width: 31px;
	line-height: 32px;
}
.footer-brand-icon img{
	height: 37px;
}
.footer-brand-name h1{
	font-family: 'Baloo 2';
	line-height: 52px;
	font-weight: 800;
	font-size: 35px;	
	color: #FFD600;
}
.footer-main{
	background-color: #7F30FF;
}
.footer-social-invite span{
	color: #fff;
	font-size: 32px;
	line-height: 38px;
}
.footer-social-icon a{
	color: #fff;
	text-decoration: none;
	font-size: 30px;
	letter-spacing: 20px;
}
.footer-cmpny-wrapp,
.footer-explore-wrapp{
	color: #fff;
}
.footer-cmpny-wrapp h1,
.footer-explore-wrapp h1{
	font-size: 35px;
	padding-bottom: 10px;
}
.footer-cmpny-wrapp p,
.footer-explore-wrapp p{
	font-size: 20px;
	font-family: inter;
	line-height: 20px;
	color: #D4D4D4;
}
.footer-mobile{
	width: 200px;	
}
.footer-mobile-wrapp h2{
	color: #fff;
	font-family: inter;
	line-height: 40px;
	font-size: 25px;
	font-weight: 600;
	width: 370px;
}
.footer-mobile-icon img{
	width: 150px;
}
.footer-qr img{
	width: 150px;
	padding-left: 35px;
}
@media (max-width:1300px){
	.footer-cmpny-wrapp h1,
	.footer-explore-wrapp h1{
		font-size: 30px;
	}
	.footer-cmpny-wrapp p,
	.footer-explore-wrapp p{
		font-size: 18px;
	}
}
@media (max-width:1099px){
	.footer-mobile-wrapp h2{
		width: 100%;
		font-size: 25px;
	}
	.footer-cmpny-wrapp h1,
	.footer-explore-wrapp h1{
		font-size: 25px;
	}
	.footer-cmpny-wrapp p,
	.footer-explore-wrapp p{
		font-size: 15px;
	}
}
@media (max-width:1005px){
	.footer-mobile-wrapp h2{
		font-size: 25px;
		font-weight: 500;
		width: 300px;
	}
	.footer-mobile-icon img{
		width: 150px;
	}
	.footer-qr img{
		width: 150px;
		padding-left: 20px;
	}
}
@media (max-width:930px){
	.footer-mobile-icon img{
		width: 120px;
	}
	.footer-qr img{
		width: 130px;
		padding-left: 15px;
	}
	.footer-brand-icon{
		width: 25px;
	}
	.footer-brand-icon img{
		height: 30px;
	}
	.footer-brand-name h1{
		line-height: 50px;
		font-size: 30px;	
	}
	.footer-social-invite span{
		font-size: 30px;
		line-height: 28px;
	}
	.footer-social-icon a{
		font-size: 28px;
	}
}
@media (max-width:890px){
	.footer-mobile-wrapp h2{
		width: 100%;
		font-size: 20px;
	}
	.footer-cmpny-wrapp h1,
	.footer-explore-wrapp h1{
		font-size: 20px;
	}
	.footer-cmpny-wrapp p,
	.footer-explore-wrapp p{
		font-size: 12px;
		line-height: 10px;
	}
}
@media(max-width:769px){
	.footer-mobile{
		width: 100%;
		justify-content: center;
	}
	.footer-mobile-wrapp{
		text-align: center;
	}
}
@media(max-width:675px){
	.footer-brand-icon{
		width: 21px;
		line-height: 32px;
	}
	.footer-brand-icon img{
		height: 25px;
	}
	.footer-brand-name h1{
		line-height: 47px;
		font-weight: 800;
		font-size: 25px;	
		color: #FFD600;
	}
	.footer-social-invite span{
		line-height: 0px;
	}
}
@media(max-width:576px){
	.cmpny-main{
		display: flex;
		justify-content: center;
	}
	.cmpny-main .row{
		width: 100%;
	}
	.footer-main{
		text-align: center;
	}
	.footer-brand {
		justify-content: center;
	}
	.footer-social-icon,
	.footer-social-invite{
		margin-top: 5x;
	}
	.footer-cmpny-wrapp p,
	.footer-explore-wrapp p{
		font-size: 12px;
		line-height: 5px;
	}
}
@media(max-width:350px){
	.footer-mobile-wrapp h2{
		margin-bottom: -20px !important;
	}
}